@page "/trucksbycategory/{CategoryId}"
<h1 class="page-title">Trucks by decade </h1>
@if (Message != null)
{
    <p><em>@Message</em></p>
}
else
{
    @if (Trucks == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
<table class="table">

    @foreach (var truck in this.Trucks)
    {
        <td>
        <tr>
            <div class="col-12 row">
                <div class="col-8">
                    <a>
                        <img src="@($"https://gillcleerenpluralsight.blob.core.windows.net/person/2.jpg")" 
                             @onclick="() => ShowTruckDetails(truck.TruckId)" 
                             class="img-fluid employee-detail-img"
                        
                             />
                    </a>
                </div>
            </div>
        </tr>
        <tr>
            <td >@truck.Name</td>
        </tr>
        <tr>
            <td>
                <a href="@($" truckedit /{truck.TruckId}")" class="btn btn-primary table-btn">

                    <i class="fas fa-edit"></i>
                </a>
            </td>
        </tr>
        </td>
    }
</table>
    }
} 
<TruckDetail @ref="TruckDetailComponent"></TruckDetail>

